<%- include('../partials/header_registrations.ejs') %>
  <div class="backgroundReg">
    <div class="formRegistro">
      <form action="/registration/create" method="post" accept-charset="utf-8">
        <div class="form-icon">
          <span><img src="../images/icon-white.svg"></span>
          <h3>Registro de usuário</h3>
        </div>
        <div hidden class="form-group">
          <input type="text" class="form-control item" name="profile" value="<%= profile %>">
        </div>
        <div hidden class="form-group">
          <input type="text" class="form-control item" name="token" value="<%= token %>">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" name="name" required placeholder="Informe o nome completo">
        </div>
        <div class="form-group">
          <input type="email" id="email" class="form-control item" name="email" required placeholder="Informe o email">
          <script type="text/javascript">
            $('#email').mask("A", {
              translation: {
                "A": {
                  pattern: /[\w@\-.+]/,
                  recursive: true
                }
              }
            });
          </script>
        </div>
        <div class="form-group">
          <input type="password" class="form-control item" id="senha" name="password" required placeholder="Informe a senha">
        </div>
        <div class="form-group">
          <input type="password" class="form-control item" id="newsenha" name="newsenha" required placeholder="Repita sua senha">
        </div>
        <div class="form-group">
          <input type="text" data-mask='000.000.000-00' class="form-control item" name="cpf" required placeholder="Informe o CPF">
        </div>
        <div class="form-group">
          <input type="text" data-mask='00000-000' class="form-control item" name="cep" required placeholder="Informe o cep">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" name="address" required placeholder="Informe o endereço">
        </div>
        <div class="form-group">
          <select id="telefone" class="form-control" required>
            <option value="" disabled="disabled" selected="selected" required>Selecione o tipo da linha</option>
            <option value="Fixo">Fixo</option>
            <option value="Celular">Celular</option>
          </select>
        </div>
        <div id="seltelefone">
        </div>
        <div class="form-group">
          <select id="unidade" name="city" class="form-control" required>
            <option value="" disabled="disabled" selected="selected" required>Selecione a Cidade</option>
            <option value="Cachoeira do Sul">Cachoeira do Sul</option>
            <option value="Vera Cruz">Vera Cruz</option>
            <option value="Arroio do Tigre">Arroio do Tigre</option>
            <option value="Candelaria">Candelaria</option>
            <option value="Canguçu">Canguçu</option>
            <option value="Caçapava do Sul">Caçapava do Sul</option>
            <option value="Agudo">Agudo</option>
            <option value="Salto Jacuí">Salto Jacuí</option>
            <option value="Pantano Grande">Pantano Grande</option>
            <option value="Faxinal do Soturno">Faxinal do Saturno</option>
            <option value="Paraiso do Sul">Paraiso do Sul</option>
            <option value="Nova Palma">Nova palma</option>
            <option value="Restinga Seca">Restinga Seca</option>
            <option value="Encruzilhada do Sul">Encruzilhada do Sul</option>
            <option value="Espumoso">Espumoso</option>
            <option value="Sobradinho">Sobradinho</option>
            <option value="Pelotas">Pelotas</option>
            <option value="Pelotas">Rio Pardo</option>
          </select>
        </div>
        <div id="selestab">
        </div>
        <div id="selsetor">
        </div>
        <!--  <div class="form-group">
                <select id="inputState" class="form-control" required>
                    <option value="" disabled selected>Selecione o setor</option>
                    <option value="teste">...</option>
                </select> 
            </div> -->
        <div class="form-group">
          <button type="submit" class="btn btn-block create-account btnsis" onclick="return validarSenha()">Cadastrar</button>
        </div>
      </form>

      <script type="text/javascript">
        $.jMaskGlobals.watchDataMask = true;

        $("#telefone").on("change", function () {
          var valor = $(this).val(); // aqui vc pega cada valor selecionado com o this
          if (valor == "Celular") {
            document.getElementById("seltelefone").innerHTML = "";
            document.getElementById("seltelefone").innerHTML = "" +
              "<div class='form-group'>" +
              "<input type='text' data-mask='(00) 0 0000-0000' class='form-control item' name='phone' required placeholder='Informe seu celular'>" +
              '</div>'
          } else {
            document.getElementById("seltelefone").innerHTML = "";
            document.getElementById("seltelefone").innerHTML = "" +
              "<div class='form-group'>" +
              "<input type='text' data-mask='(00) 0000-0000' class='form-control item' name='phone' required placeholder='Informe seu fixo'>" +
              '</div>'
          }
        });

        $("#unidade").on("change", function () {
          var valor = $(this).val(); // aqui vc pega cada valor selecionado com o this
          if (valor == "Cachoeira do Sul") {

            document.getElementById("selestab").innerHTML = "";
            document.getElementById("selestab").innerHTML = "" +
              "<div class='form-group'> \n" +
              "<select id='estab' name='description' class='form-control' required> \n" +
              "<option value='' disabled='disabled' selected='selected'>Selecione o estabelecimento</option> \n" +
              "<option value='Sede Ramiro'>Sede Ramiro</option> \n" +
              "<option value='Medicina do Trabalho'>Medicina do Trabalho</option> \n" +
              "<option value='Clinica'>Clínica</option> \n" +
              "</select> \n" +
              "<div class='select-dropdown'></div> \n" +
              "</div> \n" +
              "</div> \n";
            $("#estab").on("change", function () {
              var valor = $(this).val(); // aqui vc pega cada valor selecionado com o this
              if (valor == "Sede Ramiro") {

                document.getElementById("selsetor").innerHTML = "";
                document.getElementById("selsetor").innerHTML = "" +
                  "<div class='form-group'> \n" +
                  "<select name='sector' class='form-control' required> \n" +
                  "<option value='' disabled='disabled' selected='selected'>Selecione o setor</option> \n" +
                  "<option value='Financeiro'>Financeiro</option> \n" +
                  "<option value='RH'>RH</option> \n" +
                  "<option value='Compras'>Compras</option> \n" +
                  "<option value='T.I'>T.I</option> \n" +
                  "<option value='SAC'>SAC</option> \n" +
                  "<option value='Diretoria'>Diretoria</option> \n" +
                  "<option value='Comunicacao'>Comunicacao</option> \n" +
                  "<option value='Cobranca'>Cobranca</option> \n" +
                  "</select> \n" +
                  "<div class='select-dropdown'></div> \n" +
                  "</div> \n" +
                  "</div> \n";

              } else {

                document.getElementById("selsetor").innerHTML = "";
                //document.getElementById("selestab").innerHTML = "";
                document.getElementById("selsetor").innerHTML = "   <div hidden class='form-group'>\n" +
                  "<input type='text' class='form-control item' name='sector' value='Administrativo'>\n" +
                  "</div>";

              }


            });

          } else {
            document.getElementById("selsetor").innerHTML = "";
            document.getElementById("selestab").innerHTML = "";
            document.getElementById("selestab").innerHTML = "   <div hidden class='form-group'>\n" +
              "<input type='text' class='form-control item' name='setor' value='Administrativo'>\n" +
              "</div>";
          }

        });

        let senha = document.getElementById('senha');
        let senhaC = document.getElementById('newsenha');

        function validarSenha() {
          if (senha.value != senhaC.value) {
            senhaC.setCustomValidity("Senhas diferentes!");
            senhaC.reportValidity();
            return false;
          } else {
            senhaC.setCustomValidity("");
            return true;
          }
        }

        // verificar também quando o campo for modificado, para que a mensagem suma quando as senhas forem iguais
        senhaC.addEventListener('input', validarSenha);
      </script>

      <!--

     <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>

        -->

    </div>
  </div>
  <%- include('../partials/footer_registrations.ejs') %>