<%- include('../partials/header.ejs') %>

  <a href="/dashboard"><img src="../images/icon-white.svg" style="width:180px; height:180px; margin-top:-102px; margin-left: -25px"></a>
  <div class="sobreposicaoFormToken">
    <h2>Gerar Token</h2>
  </div>
  <div class="card" style="width: 40rem; border: 1px solid #66666646; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349); padding: 40px 15px 10px 20px; margin-left: 27% !important; margin-top: 2% !important">
    <div class="card-body" style="width: 30rem;">
      <form id="form" action="/generate_token" method="post">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Tipo usuário:</label>
            <select name="length" id="inputState" class="form-control" required>
              <option value="" selected>Selecione</option>
              <option value="5">Gerente</option>
              <option value="6">Gestor</option>
              <option value="7">Diretor</option>
              <option value="8">Compras</option>
              <option value="9">Financeiro</option>
              <option value="10">T.I</option>
            </select>
          </div>
          <input type="email" name="email" class="form-control" placeholder="Informe o email:" style="margin-left:1%">
        </div>
        <br>
        <button type="submit" class="btn accept">Gerar</button>
    </div>
    </form>
  </div>


  <% if(message) { %>
    <script>
      $(document).ready(function () {
        $('#message').modal('show');
      });
    </script>
    <% } %>


      <script type="text/javascript">

        $("#form").submit(function () {

          $(document).ready(function () {
            $('#loadingModal').modal('show');
          })
        });


      </script>


      <!-- Modal -->
      <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= message %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Aguarde, gerando token...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <%- include('../partials/footer.ejs') %>