<%-  include('./partials/header.ejs') %>
        
        
<h4 class='mb-4'>Compras e Serviços</h4>
<div class="form-row">
<div class="form-group col-md-3">
       <div class="card" style="width: 95%;">
             <img class="card-img-top" src="./images/aproved-rafiki.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">APROVADOS</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-success">Visualizar <span class="badge badge-light">11</span></a>
             </div>
       </div>
     </div>
 
    <div class="form-group col-md-3">
       <div class="card" style="width: 95%;">
             <img class="card-img-top" src="./images/waiting-rafiki.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">PRÉ-APROVADOS</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-primary">Visualizar <span class="badge badge-light">0</span></a>
             </div>
       </div>
     </div>
 
   <div class="form-group col-md-3">
       <div class="card" style="width: 96%;">
             <img class="card-img-top" src="./images/pendent-folder-cuate.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">PENDENTES</h5>
           <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-warning">Visualizar <span class="badge badge-light">1</span></a>
             </div>
       </div>
     </div>

   <div class="form-group col-md-3">
       <div class="card" style="width: 95%;">
             <img class="card-img-top" src="./images/danied-cuate.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">REPROVADOS</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-danger">Visualizar <span class="badge badge-light">2</span></a>
             </div>
       </div>
    </div> 

 </div>
 
 
     <h4 class='mb-4'>Autorização de Pagamentos</h4>
<div class="form-row">
<div class="form-group col-md-3">
       <div class="card" style="width: 95%;">
                 <img class="card-img-top" src="./images/aproved-rafiki.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">APROVADOS</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-success">Visualizar <span class="badge badge-light">10</span></a>
             </div>
       </div>
     </div>
 
    <div class="form-group col-md-3">
       <div class="card" style="width: 95%;">
             <img class="card-img-top" src="./images/waiting-rafiki.png" alt="Card image cap">
             <div class="card-body">
                  <h5 class="card-title">PRÉ-APROVADOS</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
               <a href="#" class="btn btn-primary">Visualizar <span class="badge badge-light">5</span></a>
             </div>
       </div>
     </div>

     <div class="form-group col-md-3">
        <div class="card" style="width: 95%;">
              <img class="card-img-top" src="./images/pendent-folder-cuate.png" alt="Card image cap">
              <div class="card-body">
                   <h5 class="card-title">PENDENTES</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
                <a href="#" class="btn btn-warning">Visualizar  <span class="badge badge-light">0</span></a>
              </div>
        </div>
      </div>
  
      <div class="form-group col-md-3">
        <div class="card" style="width: 95%;">
              <img class="card-img-top" src="./images/danied-cuate.png" alt="Card image cap">
              <div class="card-body">
                   <h5 class="card-title">REPROVADOS</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
                <a href="#" class="btn btn-danger">Visualiza <span class="badge badge-light">0</span></a>
              </div>
        </div>
     </div> 
 
 </div>
 
        
<%- include('./partials/footer.ejs') %>