.wrapper {
  display: flex;
  align-items: stretch;
  overflow: hidden; /* Prevent scrollbars on the wrapper */
}
#sidebar {
  z-index: 100;
  min-width: 250px;
  max-width: 250px;
  background: #535353;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
  /*height: 100vh;*/
  top: 0;
  left: -260px;
  position: relative;
}
#sidebar ul :hover {
  background-color: #00aa9b !important;
}

#content {
  flex-grow: 1;
  padding: 20px;
  margin-left: -230px;
  margin-right: 20px;
}
.navbar {
  background-color: #535353;
}
.custom-menu {
  background-color: #535353;
}
.fa-bars {
  color: #fff !important;
  margin-left: 5px;
}
#sidebar.active {
  margin-left: 260px; /* Move sidebar to the right */
}
.navbar-brand img {
  width: 100px;
  height: 100px;
  margin-left: 70%;
}
