body {
  background-image: url(../../images/bg-reg.jpg);
  background-repeat: no-repeat;
  /* Use 'cover' to fill the entire screen */
  background-size: 100% 100%;
  /* Ensure the background is fixed */
  background-attachment: fixed;
}
.formRegistro {
  width: 50%;
  height: 50%;
  margin: 3% auto 3% auto;
}
.formRegistro img {
  width: 300px;
  height: 300px;
  margin-top: -10%;
  /*margin-left: 33.5%;*/
}
.formRegistro h3 {
  color: #fff;
  font-weight: bold;
  /*margin-left: 36%;*/
  margin-top: -100px;
  margin-bottom: 50px;
}
.btnsis {
  color: #fff;
  width: 20%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00766c;
}
.btnsis:hover {
  background-color: #00d0bf;
}

select::placeholder {
  color: #000 !important;
}
#reqSpace {
  margin-top: 12% !important;
}
.accept {
  color: #fff;
  background-color: #00595b;
  width: 100px !important;
}
.accept:hover {
  color: #fff;
  background-color: #00aa9b;
}
